body {
    
    background-color: #1F2937;
    margin: 24px 24px;
}

h1{
    color: white;
}

span {
    color: #4ADF86;
}

p{
  color: #D5D4D8;
}

button{
    width: 191px;
    height: 42px;
    border-radius: 6px;
    border:none;
    background-color:#10B981;
    color: white;
    margin-top: 51px;
    margin-bottom: 35px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
}

#line{
    width: 100%; 
   height: 1px;
  background: #2F3E53;
}

#container{
    display: flex;
    gap: 24px;
    margin-top: 24px;
    justify-content: flex-start;
    align-items: center;
}

.copy-icon{
    opacity: 0;
  pointer-events: none;
  transition: 0.3s;
    width:24px;
    height: 24px;
    color:whitesmoke;
}
#copy-message{
    opacity:0;
    transition: opacity 0.3 ease;    
}
#container-password-one, #container-password-two {
    background-color: #273549;
    display: flex;
    justify-content: center;   /* yatay merkezleme */
    align-items: center;       /* dikey merkezleme */
    border-radius:8px;
    padding: 2px 12px;
    color:#55F991;
    width: 211px;
    height: 39px;
    gap: 8px;
}